extends ../../layouts/default.pug


block main
  h1(class='text-[24px] px-[30px] py-[25px] h-[80px] bg-gray-200 my-[12px] ml-[10px] font-[500]') #{pageTitle}
  div(class="border rounded-[3px] ml-[10px]")
    div(class="bg-[#D5D5D5] p-[10px]")
      span Danh Sách
    div(class="p-[8px] flex justify-end")
      button(class='border hover:bg-[#1876D2] rounded-[8px] p-[5px]')
        a(
            href=`/${prefixAdmin}/accounts/create`
        ) + Thêm mới
  table.border-collapse.border.border-gray-300(class='ml-[10px] my-[10px] w-full' checkbox-multi)
    thead
        tr.bg-gray-200 
            th.border.border-gray-300.px-2.py-2.text-left STT
            th.border.border-gray-300.px-4.py-2.text-left Avatar
            th.border.border-gray-300.px-4.py-2.text-left Họ tên
            th.border.border-gray-300.px-4.py-2.text-left Phân quyền
            th.border.border-gray-300.px-4.py-2.text-left Email
            th.border.border-gray-300.px-4.py-2.text-left Trạng Thái
            th.border.border-gray-300.px-4.py-2.text-left Hành Động
        each item, index in records
          tr.bg-white.border.border-gray-300.px-4.py-2    
            td.border.border-gray-300.px-4.py-4(class='hover:bg-gray-200') #{index + 1}
            td.border.border-gray-300.px-10.py-4(class='hover:bg-gray-200')
                img.h-auto.object-cover(src=item.avatar alt=item.avatar class="w-[80px]")
            td.border.border-gray-300.px-10.py-4(class='hover:bg-gray-200') #{item.fullName}
            td.border.border-gray-300.px-10.py-4(class='hover:bg-gray-200') #{item.role.title}
            td.border.border-gray-300.px-10.py-4(class='hover:bg-gray-200') #{item.email}
            td.border.border-gray-300.px-5.py-2(class='hover:bg-gray-200')
                if(item.status == 'active')
                    a(
                        href='javascript:;' 
                        class="bg-blue-500 text-white px-2 py-1 rounded"
                        data-id = item.id 
                        data-status = item.status 
                        button-change-status
                    ) Hoạt động
                else 
                    a(
                        href='javascript:;' 
                        class="bg-red-500 text-white px-2 py-1 rounded"
                        data-id = item.id 
                        data-status = item.status 
                        button-change-status
                    ) Dừng hoạt động    
            td.border.border-gray-300.px-10.py-2(class='hover:bg-gray-200')
                a(href=`/${prefixAdmin}/accounts/detail/${item.id}`)
                    button.bg-gray-500.text-white.px-2.py-1.rounded(class='mr-[5px]') <i class="fa-solid fa-file-pen"></i>            
                a(href=`/${prefixAdmin}/accounts/edit/${item.id}`)
                    button.bg-yellow-500.text-white.px-2.py-1.rounded(class='mr-[5px]') <i class="fa-regular fa-pen-to-square"></i>
                button.bg-red-500.text-white.px-2.py-1.rounded(button-delete data-id=item.id) <i class="fa-regular fa-trash-can"></i>
  
  form(
    form-change-status 
    action=""
    method="POST"
    data-path=`/${prefixAdmin}/accounts/change-status`
  )

  form(
    form-delete-item 
    action=""
    method="POST"
    data-path=`/${prefixAdmin}/accounts/delete`
  )                            