extends ../../layouts/default.pug 
include ../../mixin/paginationHome.pug

block main
  img(
    class='w-full'
    src="https://bizweb.dktcdn.net/100/302/551/collections/danen-untitled-1-08.jpg?v=1657274283870"
    alt="")
  .flex.flex-col.items-center(class='mt-[40px]')
    .border-t.border-black(class='w-[2%] m-[12px]')
    .uppercase(class='font-[600]') Khám phá các mặt hàng của chúng tôi
  .flex.justify-center(class='mt-[40px] flex-wrap')
    if(products.length > 0)
      each item, index in products
        .relative(class='ml-[24px] border mt-[24px]')
          a(href=`/products/detail/${item.slug}`)
            img(class='w-[300px] h-[409px]' src=item.thumbnail alt=item.title)
          .absolute.text-white.font-bold(class='px-[8px] rounded-[10px] bg-[#E56D6D] top-[3%] left-[3%] text-[12px]')
            | -#{item.discountPercentage}%
          if(item.stock == 0)  
            .absolute.text-white.font-bold(class='px-[8px] rounded-[10px] bg-[#E56D6D] top-[3%] right-[3%] text-[12px]')
              | Hết hàng          
          .flex.flex-col.items-center(class='py-[8px]')
            span(class='text-[#999999] my-[5px]') #{item.title}
            a(href=`/products/detail/${item.slug}` class='mt-[5px]')
              span(class='font-[600]') #{item.title}
            div(class='mt-[5px]')
              i.fa-solid.fa-star(class='text-[#E8C592]')
              i.fa-solid.fa-star(class='text-[#E8C592]')
              i.fa-solid.fa-star(class='text-[#E8C592]')
              i.fa-solid.fa-star(class='text-[#E8C592]')
              i.fa-regular.fa-star
            .flex(class='mt-[5px]')
              span(class='text-[18px] text-[#E56D6D] mr-[3px]') $#{item.priceNew}
              span(class='text-[12px] text-[#9C9C9C] line-through flex justify-center items-center') $#{item.price}   
    else
      div Không tìm thấy spham nào
  +pagination(pagination) 
  img(
    class='w-full'
    src="https://lili.vn/wp-content/uploads/2023/10/Banner-nhan-doi-pc.jpg"
    alt="")              