extends ../../layouts/default.pug 

block main

  div(class='mt-[30px] ml-[8%]')
    div(class='flex text-[#5C3F2C] items-center text-[12px] font-[600]') 
      <i class="fa-solid fa-house-user mr-[8px]"></i>
      a(href='/') TRANG CHỦ
  h1(class='text-[24px] font-bold w-full text-start ml-[8%] mt-[20px] uppercase') #{pageTitle}
  div(class='mt-[30px] ml-[25%]') 
    div(class='w-[700px] h-[60px] flex items-center justify-center rounded-[3px] px-[8px]')
      div Chúc mừng bạn đã đặt hàng thành công! Bạn vui lòng quét mã qr trên để thanh toán đơn hàng, cảm ơn bạn vì đã tin dùng sản phẩm của chúng tôi, chúc bạn có 1 ngày mới tốt lành!
  div(class='flex justify-center items-center w-full my-[12px]')
    img(
      src=`https://img.vietqr.io/image/MBBank-0368226143-print.png?amount=${order.totalPrice}&addInfo=${order.userInfo.fullName} thanh toan&accountName=NGUYEN THI MAI CHI`
      class='border h-[400px]'
    )
  div(class='text-[#777777] text-[18px] uppercase mt-[30px] ml-[25%]') Thông tin đơn hàng:
  div(class='w-full h-auto mt-[30px] ml-[25%] flex ')
    table(class='w-[780px] h-auto border table-fixed' table-cart)
      thead(class='border-b-[3px] border-[1px]')
        tr(class='text-[#777777] text-[18px] uppercase')
          th(class='py-[5px] border-r' ) STT
          th(class='py-[5px] border-r' ) Ảnh
          th(class='py-[5px] border-r' ) Tên sp
          th(class='py-[5px] border-r') Giá
          th(class='py-[5px] border-r') Số lượng
          th(class='py-[5px] border-r') Tạm tính
      tbody
        if(order.products.length > 0)
          each item, index in order.products
            tr(class='text-center text-[15px] border-b') 
              td(class='py-[5px] border-r') #{index+1}
              td(class='py-[5px] border-r')
                img(src=item.thumbnail alt=item.title width='100%' ) 
              td(class='py-[5px] border-r') #{item.title}
              td(class='py-[5px] text-[#E56D6D] font-[500] border-r') #{item.priceNew.toLocaleString("vi-VN")}đ
              td(class='py-[5px] border-r') #{item.quantity}
              td(class='py-[5px] text-[#E56D6D] font-[500] border-r') #{item.totalPrice.toLocaleString("vi-VN")}đ
        else 
          tr(class='text-center text-[18px]') 
            td(colspan='7') Chưa có sản phẩm nào!
  div(class='mt-[30px] ml-[25%] w-[50%]')
    div(class='border-b-[3px] px-[5px] py-[3px] w-[50%] font-bold')
      span(class='text-[#777777] text-[18px] uppercase') Tổng đơn hàng:
    div(class='border-b-[3px] px-[5px] py-[3px] w-[50%] flex justify-between')
      div(class='mt-[8px]')
        span(class='text-[#777777] text-[16px]') Thành tiền:
      div(class='mt-[8px]')
        if(order.products.length > 0)
          span(class='text-[#E56D6D] text-[24px] font-bold') #{order.totalPrice.toLocaleString("vi-VN")}đ