extends ../../layouts/default.pug 

block main 
  .w-full.h-auto.relative.overflow-hidden
    img.transition.duration-500.ease-in-out(class='hover:scale-110 m-auto w-full' src='./images/slider_1.webp' alt='')
    .absolute(class='top-[30%] right-[10%]')
      .flex(class='text-[12px] font-[600] mb-[30px]')
        .flex(class='mx-[8px]')
          .border-t.border-white.m-auto(class='w-[18px]')
        span(class='text-white') ĐỘC QUYỀN TRỰC TUYẾN
      img(src='A New Legacy for Luxury.png' alt='')
      .inline-block.bg-white.transition(class='py-[8px] px-[18px] text-[12px] rounded-[3px] font-[600] mt-[30px] hover:bg-black hover:text-white')
        a(href='#')
          span  Mua Sắm Ngay 
          i.fa-solid.fa-arrow-right(class='ml-[5px]')
  .flex.justify-center(class='mt-[40px] h-[850px]')
    .relative
      .uppercase(class='text-[18px] m-[10px] font-[600]')
        | khám phá bộ sưu tập 
      .overflow-hidden.flex-1(class='mr-[25px]')
        img.transition.duration-500.ease-in-out(class='hover:scale-110' src='./images/image-left.png' alt='')
      .absolute.text-white(class='bottom-[12%] left-[10%] text-[18px] font-[600] hover:cursor-pointer')
        a Mua sắm ngay
        i.fa-solid.fa-arrow-right(class='ml-[5px]')
    .overflow-hidden.relative
      img.transition.duration-500.ease-in-out(class='hover:scale-110' src='./images/image-right.png' alt='')
      .absolute.text-white(class='top-[12%] right-[10%] text-[18px] font-[600] hover:cursor-pointer')
        a Mua sắm ngay
        i.fa-solid.fa-arrow-right(class='ml-[5px]')
  .flex.justify-center.relative.overflow-hidden(class='mt-[40px]')
    div
      img.transition.duration-300.ease-in-out(class='hover:scale-110' src='./images/image-bottom.jpg' alt='')
    .absolute(class='bottom-[15%] left-[20%] text-[18px] font-[600] hover:cursor-pointer')
      a Mua sắm ngay
      i.fa-solid.fa-arrow-right(class='ml-[5px]')

  .flex.flex-col.items-center(class='mt-[40px]')
    .border-t.border-black(class='w-[2%] m-[12px]')
    .uppercase(class='font-[600]') Khám phá các mặt hàng của chúng tôi
  .flex.justify-center(class='mt-[40px]')
    each item in productFeatured
      .relative(class='ml-[22px]')
        img(class='w-[414px] h-[553px]' src=item.thumbnail alt=item.title)
        .absolute.text-white.font-bold(class='px-[8px] rounded-[10px] bg-[#E56D6D] top-[3%] left-[3%] text-[12px]')
          | -#{item.discountPercentage}%
        .flex.flex-col.items-center(class='py-[8px]')
          a(href=`/products/detail/${item.slug}`)
            span(class='font-[600]') #{item.title}
          div
            i.fa-solid.fa-star(class='text-[#E8C592]')
            i.fa-solid.fa-star(class='text-[#E8C592]')
            i.fa-solid.fa-star(class='text-[#E8C592]')
            i.fa-solid.fa-star(class='text-[#E8C592]')
            i.fa-regular.fa-star
          .flex
            span(class='text-[18px] text-[#E56D6D] mr-[3px]') #{item.priceNew.toLocaleString("vi-VN")}đ
            span(class='text-[12px] text-[#9C9C9C] line-through flex justify-center items-center') #{item.price.toLocaleString("vi-VN")}đ

  .flex(class='mt-[40px]')
    .flex-1
      img(src='./images/img-left.png' alt='')
    .flex.items-center.justify-center.flex-1
      img.m-auto(class='w-[414px] h-[553px]' src='./images/anh-test.png' alt='')
  .flex
    .flex.items-center.justify-center.flex-1
      img.m-auto(class='w-[414px] h-[553px]' src='./images/anh-test.png' alt='')
    .flex-1.w-full
      img.w-full(src='./images/img-right.png' alt='')
  .flex.flex-col.items-center(class='mt-[40px]')
    .border-t.border-black(class='w-[2%] m-[12px]')
    .uppercase(class='font-[600]') Chọn cho bạn

  .flex.justify-center(class='mt-[40px] flex-wrap')
    each item in productNew
      .relative(class='ml-[12px]')
        img(class='w-[300px] h-[409px]' src=item.thumbnail alt=item.title)
        .absolute.text-white.font-bold(class='px-[8px] rounded-[10px] bg-[#E56D6D] top-[3%] left-[3%] text-[12px]')
          | -#{item.discountPercentage}%
        .flex.flex-col.items-center(class='py-[8px]')
          a(href=`/products/detail/${item.slug}`)     
            span(class='font-[600]') #{item.title}
          div
            i.fa-solid.fa-star(class='text-[#E8C592]')
            i.fa-solid.fa-star(class='text-[#E8C592]')
            i.fa-solid.fa-star(class='text-[#E8C592]')
            i.fa-solid.fa-star(class='text-[#E8C592]')
            i.fa-regular.fa-star
          .flex
            span(class='text-[18px] text-[#E56D6D] mr-[3px]') #{item.priceNew.toLocaleString("vi-VN")}đ
            span(class='text-[12px] text-[#9C9C9C] line-through flex justify-center items-center') #{item.price.toLocaleString('vi-VN')}đ
                                        
              

