extends ../../layouts/default.pug
include ../../mixin/alert.pug
include ../../mixin/pagination.pug
include ../../mixin/search.pug
include ../../mixin/form-change-multi.pug
include ../../mixin/sort.pug
include ../../mixin/filterState.pug
include ../../mixin/moment.pug

block main
  if(role.permissions.includes("products-category_view"))
    +alert-success(5000)
    div(class='border mx-[8px] bg-[]')
        div(class='ml-[8px] text-[24px] font-bold my-[12px]') #{pageTitle}

        div(class='flex items-center justify-between mb-[12px] mx-[8px]')
            div(class='flex')            
                +filterState(filterState)
                +form-change-multi(`/${prefixAdmin}/products-category/change-multi?_method=PATCH`)
                +sort([
                    {
                        lable: "Vị trí giảm dần",
                        value: "position-desc"
                    },
                    {
                        lable: "Vị trí tăng dần",
                        value: "position-asc"
                    },
                    {
                        lable: "Tiêu đề A - Z",
                        value: "title-desc"
                    },
                    {
                        lable: "Tiêu đề Z - A",
                        value: "title-asc"
                    },
                ])
            div(class='flex')
                +search(keyword)
                if(role.permissions.includes("products-category_create"))
                  button(class='w-[100px] h-[38px] bg-white border hover:bg-[#1876D2] rounded-[8px]')
                    a(
                        href=`/${prefixAdmin}/products-category/create`
                    ) + Thêm mới
    table.border-collapse.border.border-gray-300(class='ml-[10px] my-[10px] w-full' checkbox-multi)
      thead
        tr.bg-gray-200
            th.border.border-gray-300.px-2.py-2.text-left
                input(
                    type='checkbox'
                    name='checkall'
                ) 
            th.border.border-gray-300.px-2.py-2.text-left STT
            th.border.border-gray-300.px-4.py-2.text-left Hình Ảnh
            th.border.border-gray-300.px-4.py-2.text-left Tiêu Đề
            th Vị trí
            th.border.border-gray-300.px-4.py-2.text-left Tạo bởi
            th.border.border-gray-300.px-4.py-2.text-left Trạng Thái
            th.border.border-gray-300.px-4.py-2.text-left Hành Động
        each item, index in records    
            tr.bg-white.border.border-gray-300.px-4.py-2
                td.border.border-gray-300(class='hover:bg-gray-200')
                    input(class='relative left-[25%]')(
                        type='checkbox'
                        name='id'
                        value=item.id
                    )
                td.border.border-gray-300.px-4.py-4(class='hover:bg-gray-200') #{index + 1}
                td.border.border-gray-300.px-10.py-4(class='hover:bg-gray-200')
                    img.w-16.h-16.object-cover(src=item.thumbnail alt=item.thumbnail)
                td.border.border-gray-300.px-10.py-4(class='hover:bg-gray-200') #{item.title}
                td.border.border-gray-300.px-4.py-4(class='hover:bg-gray-200')
                  input(
                    type="number"
                    name="position"
                    style="width: 40px"
                    min="1"
                    value=item.position
                    class='border text-center'
                  )
                td.border.border-gray-300.px-4.py-4(class='hover:bg-gray-200')
                  p #{item.createdBy.fullName}
                  if(item.createdBy.createdAt)
                    +formatDate(item.createdBy.createdAt)
                    +formatTime(item.createdBy.createdAt)
                td.border.border-gray-300.px-5.py-2(class='hover:bg-gray-200')
                  if(role.permissions.includes("products-category_edit"))
                    if(item.status == 'active')
                        a(
                            href='javascript:;' 
                            class="bg-blue-500 text-white px-2 py-1 rounded"
                            data-id = item.id 
                            data-status = item.status 
                            button-change-status
                        ) Hoạt động
                    else 
                        a(
                            href='javascript:;' 
                            class="bg-red-500 text-white px-2 py-1 rounded"
                            data-id = item.id 
                            data-status = item.status 
                            button-change-status
                        ) Dừng hoạt động    
                td.border.border-gray-300.px-10.py-2(class='hover:bg-gray-200')
                  if(role.permissions.includes("products-category_edit"))
                    a(href=`/${prefixAdmin}/products-category/edit/${item.id}`)
                        button.bg-yellow-500.text-white.px-2.py-1.rounded(class='mr-[5px]') <i class="fa-regular fa-pen-to-square"></i>
                  if(role.permissions.includes("products-category_delete"))
                    button.bg-red-500.text-white.px-2.py-1.rounded(button-delete data-id=item.id) <i class="fa-regular fa-trash-can"></i>
    +pagination(pagination)
    form(
        form-change-status 
        action=""
        method="POST"
        data-path=`/${prefixAdmin}/products-category/change-status`
    )
    form(
        form-delete-item 
        action=""
        method="POST"
        data-path=`/${prefixAdmin}/products-category/delete`
    )                            