extends ../../layouts/default.pug 

block main 

  div(class='mt-[30px] ml-[8%]')
    div(class='flex text-[#5C3F2C] items-center text-[12px] font-[600]') 
      <i class="fa-solid fa-house-user mr-[8px]"></i>
      a(href='/') TRANG CHỦ /
      span(class='uppercase ml-[3px]') Nhập mã xác thực
  span(class=' mt-[12px] ml-[8%] flex text-[#5C3F2C] items-center text-[12px] font-[600]') 
    | Bạn vui lòng nhập mã OTP gửi qua email để lấy lại tài khoản.
  h1(class='text-[36px] w-full text-center mt-[20px]') #{pageTitle}
  form(
    action="/user/password/otp"
    method='POST'
    class='mt-[12px] ml-[30%]'
  )
    div(class='mb-[12px]')
      lable(for="email" class='font-[500]') Email 
        span(class='text-[#FF0000]') *
      br
      input(
        type="email"
        id="email"
        name="email"
        placeholder="Nhập email..."
        class='border-[2px] w-[600px] h-[40px] bg-[#ECF0FD] mt-[12px] outline-none px-[8px]'
        required
      )
    div(class='mb-[12px]')
      lable(
        for="text"
        class='font-[500]'
      ) Mã OTP 
        span(class='text-[#FF0000]') *
      br
      input(
        type="text"
        id="otp"
        name="otp"
        placeholder="Nhập mã otp..."
        required
        class='border-[2px] w-[600px] h-[40px] mt-[12px] outline-none px-[8px]'
      )
    div 
      button(
        type='submit'
        class='w-[180px] h-[45px] bg-[#35C0C5] hover:cursor-pointer text-white'
      ) Xác nhận
