extends ../../layouts/default.pug 

block main 

  div(class='mt-[30px] ml-[8%]')
    div(class='flex text-[#5C3F2C] items-center text-[12px] font-[600]') 
      <i class="fa-solid fa-house-user mr-[8px]"></i>
      a(href='/') TRANG CHỦ /
      span(class='uppercase ml-[3px]') Nhập mật khẩu mới
  span(class=' mt-[12px] ml-[8%] flex text-[#5C3F2C] items-center text-[12px] font-[600]') 
    |  Bạn đã đổi mật khẩu thành công. Hãy đảm bảo rằng mật khẩu mới của bạn là duy nhất và bảo mật
  h1(class='text-[36px] w-full text-center mt-[20px]') #{pageTitle}
  form(
    action="/user/password/reset"
    method='POST'
    class='mt-[12px] ml-[30%]'
  )
    div(class='mb-[12px]')
      lable(for="text" class='font-[500]') Mật khẩu mới :
      br
      input(
        type="password"
        id="password"
        name="password"
        placeholder="Mật khẩu mới..."
        class='border-[2px] w-[600px] h-[40px] bg-[#ECF0FD] mt-[12px] outline-none px-[8px]'
        required
      )
    div(class='mb-[12px]')
      lable(
        for="text"
        class='font-[500]'
      ) Xác nhận mật khẩu :
      br
      input(
        type="password"
        id="confirmPassword"
        name="confirmPassword"
        placeholder="Xác nhận..."
        required
        class='border-[2px] w-[600px] h-[40px]  bg-[#ECF0FD] mt-[12px] outline-none px-[8px]'
      )
    div 
      button(
        type='submit'
        class='w-[180px] h-[45px] bg-[#35C0C5] hover:cursor-pointer text-white'
      ) Đổi mật khẩu
